@charset "UTF-8";

*{
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    height: 100px;
}

#divisaohead{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    padding: 25px 0px;
}

#alignhead{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#doctorhead{
    color: #3F5BD9;
    font-size: 25px;
    font-weight: bold;
}

.itemhead{
    padding: 5px 25px;
}

#bookhead{
    display: flex;
    text-align: center;
    padding: 8px 2px;
    border-radius: 7px;
    background-color: #3F5BD9;
    color: white;

}

#bookhead > img,h4{
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
}

 #background{
    background-image: url(imgs/background1.png);
    border-radius: 0px 0px 30px 30px;
 }

#divisaopag1{
    display: flex;
    justify-content: space-evenly;
}

#textopag1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 630px;
    margin: 25px;
}

#subpag1{
    padding: 7px 20px;
    font-size: 30px;
    font-weight: normal;
    color: white;
}

#titulopag1{
    padding: 5px 20px;
    font-size: 70px;
    color: white;
}

.paragrafo{
    font-size: 18px;
    padding: 0px 20px;
    color: white;
    width: 450px;
}

#img1{
    width: 600px;
    padding: 40px 45px 40px 0px;
}

#botoespag1{
    display: flex;
    justify-content: flex-start;
    padding: 35px 20px;
}

#botao1{
    color: #3F5BD9;
    font-size: 20px;
    padding: 10px 25px;
    background-color: lightgray;
    border-radius: 7px;
    text-align: center;
}

#botao2{
    border: 2px solid rgba(255, 255, 255, 0.582);
    border-radius: 7px;
    font-size: 20px;
    padding: 10px 5px;
    color: white;
}

#espaco{
    padding: 10px;
}

#botao2 > img{
    padding: 0px 5px;
    text-align: center;
}

#boxpag1{
    border: 1px dotted black;
    display: flex;
    justify-content: center;
}

#quadpag1{
    border: 1px dotted black;
}